html {overflow-y: scroll;}

body { color:#222; font-family: 'Cabin', arial, serif; }

a { text-decoration: none; color:#000; }
a { text-decoration: none; }

h1{
 margin-top:0px;
 margin-bottom:3px;
}

.text_field, .text_area{
 border: 1px solid #848484;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 padding-left:2px;
 padding-right: 2px;
 outline:none;
}

.text_field{
  height:25px;	
  width: 75%;
}

.text_field:hover, .text_area:hover, .text_field:focus, .text_area:focus{
 border: 1px solid #616161;	
}

.text_area{
  height:200px;		
  width: 100%;
  resize: none;
}

div.field, div.actions {
  margin-bottom: 7px;
}

.section_desription{
  margin:5px 0 0 0;	
}

a:hover{
 color:#B4B4B4;	
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.all, .footer{
  width:1000px; 
  margin-left:auto; 
  margin-right:auto;
}

.footer{
 text-align:right;
 font-size:12px;
 padding-right:15px;
}

.login_screen{
 text-align:center;
}

.login_screen h1{
 margin-top: 200px;
 text-shadow: #CBC9FF 1px 1px 6px;
}

.center_div{
 margin-left:auto;
 margin-right:auto;
 text-align:center;	
}

.center_div label{
 width:150px;
 display:inline-block;
 text-align:right;
}

#firstNav{	
  text-align:center;
  border:1px solid #B0B0B0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color:#FBFBFB;
  overflow:hidden;
  font-size:18px;
}

#firstNav div{
 display: inline-block;
 padding:4px;
}

#firstNav div.history_count{
 margin-right:10px;
 float:left;	
 font-weight:bold;
}

.header{
 margin-bottom:10px;	
}

#firstNav div.home_header{
 float:left;	
}

#firstNav div.about_header{
 float:right;	
}

#secondNav{
  margin-left:auto;
  margin-right:auto;
  padding-top:3px;
  padding-bottom:3px;
  text-align:center;
  width:90%;
  border:1px solid #B0B0B0;
  border-top:none;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px #B0B0B0;
  -webkit-box-shadow: 0px 0px 5px #B0B0B0;
  -moz-box-shadow: 0px 0px 5px #B0B0B0;
}

#secondNav a{
  margin: 0 50px 0 50px;		
}

.secondNavButton{
 display:inline-block;
 border: 1px solid #848484;
 margin: 2px 0 2px 0;
 padding:1px 30px 1px 30px;
 font-size:20px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
}

.secondNavButton:hover{
 background-color:#FDFDFD;
 border:1px solid #222;
 color:#000;
}

.small_link{
 text-align:right;
 font-size:10px;
 padding-right: 10px;
}

.mainOverview{
  display: inline-block;
  width: 100%;
}

.mainOverview-left-coulmn{
  width:33.5%;
  float:left;
  margin:0px 10px 10px 5px;
  height:400px;
}

.mainOverview-welcome-name, .mainOverview-user-stats, .mainOverview-tasks{
  padding:7px;
  border: 1px solid #B0B0B0;
}

.mainOverview-welcome-name{
  height:20px;
  margin-bottom:10px;
}

.mainOverview-user-stats{
  margin-bottom:10px;
} 

.mainOverview-user-stats div{
 display:inline-block;
 width: 32%;
 text-align:center;
}

.mainOverview-user-stats div.PageViews{
 border-left:1px solid black;
 border-right:1px solid black;	
}

.mainOverview-tasks ul{
  margin:0px;
  padding:15px;
}

.ttul{
 border-top:1px solid #B0B0B0;	
 padding-top: 5px;
}

.ttul div{
 padding:5px;	
}

.home_checkbox{	
}

.show_page_header_titles{
 text-align:left;
 font-weight:bold;
}

.center_header{
 text-align:center;	
}

.show_page_header_titles_small{
 font-size:10px;	
 padding-bottom:5px
}

.mainOverview-right-coulmn{
  width:63%;
  float:right;
  margin:0px 10px 10px 5px;
  height:400px;
}

.mainOverview-right-coulmn-top{
 padding:7px;
 margin-bottom:10px;
 border:1px solid #B0B0B0;
}

.mainOverview-right-coulmn-top div.form_row{
 text-align:center;
}

.scraperFields div{
  display:inline-block;	
}

#scraper_input_div{
 margin-left:4px;	
}

#scraper_input_id {
 width:375px;
 height:18px;
}

.poll_button_div{
 margin: 10px 70px 0 0;
 text-align:right;
}

.boost_button_div, .spacer_div {
 margin: 0 0 3px 0;	
 height:19px;
}

.shaded_button{
 border: 1px solid #343434;
 padding:1px 10px 1px 10px;
 font-size: 12px;
 box-shadow: 2px 2px 0px #343434;
 -webkit-box-shadow: 2px 2px 0px #343434;
 -moz-box-shadow: 2px 2px 0px #343434;
}

.shaded_button:hover{
 background-color:#FDFDFD;
 border:1px solid #616161;
 color:#616161;
 box-shadow: 2px 2px 0px #999;
 -webkit-box-shadow: 2px 2px 0px #616161;
 -moz-box-shadow: 2px 2px 0px #999;
}

.mainOverview-right-coulmn-bottom{
 padding:7px;
 text-align:center;
 margin-top:10px;
 border:1px solid #B0B0B0;	
}

.all_commentary{
 overflow:hidden;	
 padding-bottom:15px;
}

.new_commentary_main_div{
 width:90%;
 margin-left:auto;
 margin-right:auto;
}

.commentary_wrapper{
 height: 110%;
 width:47%;
 display:inline-block;
 margin: 10px 0 0 0;
}

.commentary_whole{
 border:1px solid #B0B0B0;
 display:inline-block;	
 width:100%;
 height:80px;
 padding:4px;
}

.commentary_whole_fp{
 display:inline-block;	
 width:95%;
 border-bottom: 1px solid #B0B0B0;
 padding-bottom: 5px;
 padding-top: 5px;
 margin-left:auto;
 margin-right:auto;
}

.commentary_whole_fp div{
 display:inline-block;	
}

.commentary_links_fp{
 width: 49%;
 font-size:12px;
 height: 18px;
 vertical-align:center;
 text-align:left;
}

.fb_tw_fp{
 width: 49%;
 height: 24px;	
 vertical-align:bottom;
}

.fb_tw_fp img{
 padding-left:15px;	
}

.commentary_boost{
 text-align:right;
 font-size: 12px;
}

.share_link{
 border:1px solid #fff;
 text-align:center;
}

.share_link_image{
 margin-top:22px;
}

.commentary_title{
 font-weight:bold;
}

.commentary_links{
 font-size:12px;
}

.c-links{
 color:#000060;	
}

.commentary_body{
 font-size:14px;
 color: #202020;
 margin-top:3px;
}

.left_column{
 float:left;
 padding-left:18px;
}

.right_column{
 padding-right:18px;
 float:right;
}

.finishedTodaysTasks{
 color: #BBB;	
}

.histories_overview{
 width: 80%;
 margin-left:auto;
 margin-right:auto;
}

.history_date_header{
 padding:10px 0 3px 0;
 border-bottom: 1px solid #B0B0B0;
}

.hist_type_header{
 width:75%;
 margin-left:auto;
 margin-right:auto;
 padding:10px;
}

.hist_type_descriptions{
 display:none;	
}

.link_shareable{
 width:98%;
 border-bottom: 1px solid #B0B0B0;
 padding:3px;
 margin:3px;
 font-size:16px;
}

.link_share_me div.commentary_links_fp, .link_share_me div.fb_tw_fp{
 display:inline-block;
 padding:5px 0 5px 3px;
}

.add_new_button{
 text-align:right;	
}


