<div class="mainOverview">
<div class="mainOverview-left-coulmn">
Today's Tasks

<ul>
  <% if !taken_todays_poll %>
    <li id="ttp">
    <% else %>
    <li  id="ttp" class="finishedTodaysTasks">
    <% end %>
    Take today's poll to the right</li>
  
  <% if !commentary_created_today %>
    <li>
     <% else %>
    <li class="finishedTodaysTasks">
    <% end %>
    Create a commentary item</li>
    
  <% if !boost_commentary_today %>
    <li>
     <% else %>
    <li class="finishedTodaysTasks">
    <% end %>
    Boost a commentary item</li>

  <% if !share_commentary_today %>
    <li>
     <% else %>
    <li class="finishedTodaysTasks">
    <% end %>
    Share Something to Facebook</li>
</ul>

</div>

<div class="mainOverview-right-coulmn">

<div class="mainOverview-right-coulmn-top">
 <div>Today's Poll</div>
 
 <div class="form_row" id="poll_div">
 <% if !taken_todays_poll %>
    <label for="poll">Which Answer do you like the most?</label>
    <% [ 'Option 1', 'Option 2', 'Option 3', 'Option 4'].each do |poll| %>
      <br><%= radio_button_tag 'poll', poll %>
      <%= poll.humanize %>
    <% end %>
    <br />
 <%= link_to_function image_tag('/images/vote_50.png'),'poll_vote()',:id => 'poll_button' %>
 <% else %>
 Thank you for taking today's poll
 <% end %>
 </div>
 
 
</div>

<div class="mainOverview-right-coulmn-bottom">
 bottom
</div>

</div>


</div>
