<div class="histories_overview">
  <% @histories.group_by(&:group_by_created_at).each do |created_at, histories| %>
  <div class="history_date_header"><%= created_at %></div>
   <% histories.group_by(&:group_by_history_type).each do |hist_type, hist| %>
    
    <div class="hist_type_header">+<%= hist.count %> 
    
      <% if hist_type == 'Poll Taken' %>
       <%= hist_type %>
      <% elsif hist_type == 'Create Commentary' %>
       Created Commentary
      <% elsif hist_type == 'Boost Commentary' %>
       Boosted Commentary
      <% elsif hist_type == 'Share Commentary' %>
       Shared Commentary to Facebook
      <% elsif hist_type == 'Shared Commentary Link' %>
       Shared Commentary Link Clicked
      <% else %>
       <%= hist_type %>
      <% end %>
    
    </div>

   <% end %>
  <% end %>
</div>
