<p class="section_desription">A Brief Boost Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do.</p>

<h1>Listing commentaries</h1>
<div class="all_commentary">
<%= render 'show_commentary' %>
</div>

