<div class="new_commentary_main_div">
<p class="section_desription">A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do. A Brief Description of what to do.</p>

<h1>Create a Commentary</h1>

<%= render 'form' %>

<%= link_to 'Back', commentaries_path %>
</div>
